@{
    ViewData["Title"] = "Gestão de Viaturas";
}

<div class="text-center">
    <h1 class="display-4">Gestão de Viaturas</h1>
    <h4>
        Esta plataforma tem como função principal a gestão das viaturas disponibilizadas.
    </h4>
    <p style="text-align:left">
        Fornecedo acesso as seguintes informações:
    </p>    
    <div style="text-align:left">
        <ol>
            <li>Viaturas</li>
            <li>Vendedores</li>
            <li>Clientes</li>            
        </ol>
    </div>
    <img src="https://jornaldasoficinas.com/pt/wp-content/uploads/2023/03/Portugueses-preferem-carros-comprados-em-stands-de-marca-propria.png" />
</div>