@{
    ViewData["Title"] = "Site Pessoal - Michael";
}
<h1 class="display-4">Formação</h1>
<br />
<p>
    Frequência universitária no curso de Engenharia de Petróleo. Atualmente a frequentar um curso técnico de programação.
</p>
<img src="~/pics/programming.jpg" alt="programming" width="300" />
<br />
<h2>Desenvolvido em 13/02/2026</h2>
<h5>Autor: Michael Ortiz</h5>