@{
    ViewData["Title"] = "Site Pessoal - Michael";
}
<h1 class="display-4">Interesses</h1>
<br />
<p>
    Gosto de manter-me ativo e de praticar desporto. Nos tempos livres procuro passar tempo de qualidade com amigos e família.
</p>
<h4>Passeios de mota</h4>
<iframe width="560" height="315" src="https://www.youtube.com/embed/rgMCDTWT89E?si=nRWo7MoufF510AL0"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
</iframe>
<br />
<h4>Atividades desportivas</h4>
<ol type="I">
    <li class="par_fut">Futebol</li>
    <li class="par_musc">Musculação</li>
    <li class="par_run">Corrida</li>
</ol>
<img src="~/pics/futebol.jpg" alt="futebol" width="300" />
<img src="~/pics/musc.jpg" alt="musculacao" width="300" />
<img src="~/pics/run.jpg" alt="corrida" width="300" />
<br />
<h2>Desenvolvido em 13/02/2026</h2>
<h5>Autor: Michael Ortiz</h5>