@{
    ViewData["Title"] = "Site Pessoal - Michael";
}
<h1 class="display-4">Sobre mim</h1>
<br />
<p>
    O meu nome é Michael Steven Cataño Ortiz; natural do Equador, criado em Espanha.
</p>
<img src="~/pics/mota.jpg" alt="paisagem-mota" width="300" />    
<br />
<h2>Desenvolvido em 13/02/2026</h2>
<h5>Autor: Michael Ortiz</h5>