@{
    ViewData["Title"] = "Gestão de Livros MVC";
}

<div class="text-center">
    <h1 class="display-4">Gestão de Livros MVC - .Net Core com entity</h1>
    <h4>Este WebSite foi feito utilizando a metodologia de 'Entity Framework'. 
        Os passos realizados foram os seguintes:
    </h4>
    <div style="text-align:left">
        <ol>
            <li>Criei o projeto</li>
            <li>Criei a classe e defini os atributos</li>
            <li>Fiz 'Scaffold' com 'controllers' e 'views'</li>
            <li>Exportei a base de dados</li>
            <li>Finalizei a CSS e link no controller</li>
        </ol>
    </div>
    <img alt="gestão de livros" src="https://flexi-project.com/wp-content/uploads/2024/07/ksiazki-o-zarzadzaniu-projektami.webp" />
</div>
